<div id="<%= dom_id pet %>" class="pet_card">
  <img src="app/assets/images/eins.JPG" alt="">
  <p>
    <strong>Pet name:</strong>
    <%= pet.name %>
  </p>
  <p>
    <strong>Pet owner:</strong>
    <%= pet.user_id %>
  </p>
</div>
