<div class="d-flex justify-content-center">
  <h1>Welcome to paws and claws!!</h1>
</div>
<div>
  <% @pets.each do |pet| %>
    <%= render pet %>
    <%= link_to "See the pet", pet_path(pet) %>
  <% end %>
</div>
