<div class="d-flex justify-content-center pet_title">
  <h1>Welcome to paws and claws!!</h1>
</div>
<div class="container main_body">
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="column pet_card">
        <div class="d-flex flex-column align-items-start justify-content-end">
          <%= render pet %>
          <strong><%= link_to "See the pet", pet_path(pet), class: "pet_link"%></strong>
        </div>
      </div>
    <% end %>
  </div>
</div>
