<div class="p-auto bg bg-light d-flex flex-column align-items-center justify-content-center">
  <h1>Create Adoption</h1>

  <%= render "form", pet: @pet %>

  <br>

  <%= link_to "Back to home", root_path, class: "btn btn-dark"%>
</div>
