<head>
  <%= stylesheet_link_tag 'pet_show' %>
</head>

<div class="container">
  <div class= "pet_show_bar">
    <h1><%= @pet.name %>
    </h1>
  </div>
  <img class="pet-img" src="https://images.unsplash.com/photo-1618359057154-e21ae64350b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80" />
     <div class= "pet-title w-100"><h2> Get to know <%= @pet.name %></div>
  <div class="container pet-grid">
      </h2>
    <div class="row pet-row d-flex justify-content-between">
      <div class="col-4 pet-details">
        <p>PET DETAIL ONE</p>
      </div>
      <div class="col-4 pet-details">
        <p>PET DETAIL TWO</p>
      </div>
      <div class="col-4 pet-details">
        <p>PET DETAIL THREE</p>
      </div>
      <%= link_to "Adopt me!", create_request_path(@pet), method: :post %>
    </div>
      </div>
</div>
