<h1>AdoptionRequests#index</h1>
<p>user who made the request:<%= @requests[0].user.name %></p>
<ul>
<% @requests.each do |request| %>
  <li><%= request %></li>
<% end %>
<ul>
<p>Find me in app/views/adoption_requests/index.html.erb</p>
