.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background-color: white;
}

.pet-photo {
  border-radius: 10px;
  object-fit: contain;
}

.pet_show_bar {
  padding-top: 10px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.pet-row{
  height: 100%;
  width: 100vh;
  padding-top: 20px;
}

.pet-details {
  width: 250px;
  height: 100px;
  background-color: white;
  border: solid .5px rgb(209, 209, 209);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.pet-title {
  padding-top: 10px;
  justify-content: flex-start
}
